{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="page-header" >Course creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('course') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
